<!DOCTYPE html>
<html lang="tr">

<div>

 <%= '\xa0 \xa0\xa0 \xa0 \xa0 \xa0 \xa0 \xa0 \xa0\xa0 \xa0 \xa0 \xa0 \xa0 \xa0 \xa0\xa0  \xa0 \xa0 \xa0\xa0 \xa0 \xa0 \xa0 \xa0 \xa0 \xa0\xa0 \xa0 \xa0 \xa0 \xa0 \xa0 \xa0 \xa0 \xa0 \xa0 \xa0 \xa0 \xa0 \xa0 \xa0 \xa0 \xa0 \xa0 \xa0 \xa0 \xa0 \xa0' %>  Başardığın görev sayısı: <%= user.succes  %>  <%= '\xa0 \xa0 \xa0 \xa0 \xa0 \xa0 \xa0'%>  Başaramadığın görev sayısı:  <%=user.fail%>
</div>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      crossorigin="anonymous"
    />
    <title>Yapılacaklar Listesi</title>
    
  </head>
  <body>

 
   
    <div class="container">
      <div class="header">
    
        <h2>Yapılacaklar Listesi</h2>
        <form method="post" action="/ekle">
        <input type="hidden" name="token" value=<%=user.token  %>  >
        <input type="hidden" name="user" value=<%=user %>  >
        <input type="text" name="task"  placeholder="Bugün ne yapacaksın?" />
        <button class="btn btn-dark"><%= '\xa0 \xa0 \xa0 EKLE \xa0 \xa0 \xa0 \xa0' %> </button>
        
      </form>
      </div>

      
      <form method="GET" id="site-searchform" action="/toDos">
        <div class="input-group rounded">
          <input class="input-text form-control" name="search" id="search-k" placeholder="Yapılacakları ara..." type="text">
          <button class="btn btn-dark"><%= '\xa0 \xa0 \xa0 ARA \xa0 \xa0 \xa0 \xa0' %> </button>
        </div>
      </form>


     
    


      <%if(tasks) { for (let i=0; i<tasks.length; i++ ){  %>
        <ul id="list">

        <li><%=tasks[i].task %>




          


          <div style="flood-color: coral;">
            
            <form method="post" action="/duzenle">
              <input type="text" name="task">
              <input type="hidden" name="taskID" value="<%=tasks[i].id %>">
              <input type="hidden" name="taskUserID" value="">
            <button class="btn-blue"><span>Düzenle</span></button>
            
          
          </form>

          </div>

            
          <div style="float: right;">
            
            <form method="post" action="/fail">
              
              <input type="hidden" name="taskID" value="<%=tasks[i].id %>">
              <input type="hidden" name="taskUserID" >
            <button class="btn btn-danger rounded-0 text-white"><span>Olmadı...</span></button>
          
          </form>

          </div>

         
          
            
          <div style="float: right;">
            
            <form method="post" action="/succes">
              <input type="hidden" name="taskID" value="<%=tasks[i].id %>">
              <input type="hidden" name="taskUserID">  
            <button class="btn btn-success"><span>Yaptım!</span></button>
          
          </form>


          </div>
          
         
          </li>
         
                            

        
          
          
          
            
          </ul>
        <%  } } %>



        <div>
        
          <% if (pages > 0) { %>
           <ul class="nav tm-paging-links">
               <% for (i=1; i <=pages; i++) { %>
        
                   <%   if (i == current) { %>
                       <li class="nav-item active"><a href="/toDos/?page=<%= i %>" class="nav-link tm-paging-link"><%= i %></a></li>
                   <% } else if (i < pages) { %>
                       <li class="nav-item"><a href="/toDos/?page=<%= i %>" class="nav-link tm-paging-link"><%= i %></a></li>
                   <%  } else { %>
                       <li class="nav-item"><a href="/toDos/?page=<%= i %>" class="nav-link tm-paging-link">></a></li>
                   <%  } %>
               <%  } %>
           </ul>
           <% } %>
       </div>
       

      


      <script
        src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"
      ></script>
      <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"
      ></script>
    </div>
  </body>

  

  
</html>
